* {
    margin: 0;
    padding: 0;

}

body {
    font-size: 16px;
    color: #fff;
    background-color: #0b0c10;
    font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
.container {
    background-color: #282828;
}


#header-nav {
    background-color: #1f2833;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    /* Restaurant name */
    font-family: 'Lora', serif;
    color: #f9f7f1;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}


#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #45A29E;
    text-align: center;
}

#nav-list a:hover {
    background: #66fcf1;
}


.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #45A29E;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

/* END HEADER */


/* HOME PAGE */
.main-text {
    color: #66fcf1;
    padding: 20px;
}

.menu-title {
    color: #66fcf1;
}

.menu-content {
    color: #c5c6c7;
}

/* END HOME PAGE */

/********** Extra small devices only **********/
@media (max-width: 767px) {

    /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }

    .navbar-brand h1 {
        /* Restaurant name */
        padding-top: 10px;
        font-size: 5vw;
        /* 1vw = 1% of viewport width */
    }

    
    #collapsable-nav a {
        /* Collapsed nav menu text */
        font-size: 1.2em;
    }

    /* End Header */

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

    /* Header */
    .navbar-brand h1 {
        /* Restaurant name */
        padding-top: 5px;
        font-size: 6vw;
    }

    /* End Header */

    .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }
}